body {
  font-family: 'Montserrat', sans-serif;
}

a:link, a:visited {
  text-decoration: none;
}

.logo-font{
  font-family: 'Righteous', cursive;
  font-size: 35px;
}

.navbar-custom {
  position: relative;
  background-image: url('../images/header.jpg');
  /* background-image: linear-gradient(#234E8E, #3962A4);
  background-color: #285492; */
}

.border-custom {
  border: 1px solid #512558;
}

.border-left-custom {
  border-left: 5px solid #512558;
}

.border-custom:hover {
  border: 1px solid #9f63a8;
}

.border-left-custom:hover {
  border-left: 5px solid #9f63a8;
}

.masthead {
  height: 100vh;
  min-height: 400px;
  background-image: url('../images/header.jpg');
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
}

.re-radius {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.avatar {
  width: 40px;
  height: 40px;
}

.dropdown-toggle::after {
  display:none;
}

.vertical-divider {
  height: 45px;
  width: 1px;
  background-color:rgb(255,255,255,0.25);
}


/* Custom bootstrap button */

.btn-custom,
.btn-custom:hover,
.btn-custom:active,
.btn-custom:visited,
.btn-custom:focus {
  background-color: #512558;
  border-color: #512558;
  color: white;
}

.emphasis-font {
  color: #512558;
  font-weight:bold;
}

li.active{
  border-bottom: 2px solid #512558 !important;
  margin-bottom: px !important;
}

.custom-toggler.navbar-toggler {
  border-color: rgb(255,255,255);
}
.custom-toggler .navbar-toggler-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@media all and (max-width: 500px) { /* screen size until 500px */
  h1 {
    font-size: 2em; /* 0.8x default size */
  }
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.btn-google {
  color: white;
  background-color: #ea4335;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
}

.table-custom {
  height: 400px;
  overflow: scroll;
}

.group {
  position:relative;
  margin-bottom:35px;
}
input {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus {
  outline:none;
}

label {
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

input:focus ~ label, input:valid ~ label {
  top:-20px;
  font-size:14px;
  color:#512558;
}

.bar {
  position:relative;
  display:block;
  width:300px;
}

.bar:before, .bar:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#512558;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}