body {
  font-family: 'Montserrat', sans-serif;
}

.logo-font{
  font-family: 'Righteous', cursive;
  font-size: 35px;
}

.masthead {
  height: 100vh;
  min-height: 400px;
  background-image: url('../images/header.jpg');
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
}

.re-radius {
  -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.avatar {
  width: 40px;
  height: 40px;
}

.dropdown-toggle::after {
  display:none;
}

.vertical-divider {
  height: 45px;
  width: 1px;
  background-color:rgb(255,255,255,0.25);
}


/* Custom bootstrap button */

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #660b75;
    border-color: #660b75;
}

.emphasis-font {
  color: #660b75;
  font-weight:bold;
}

li.active{
  border-bottom: 2px solid #660b75 !important;
  margin-bottom: px !important;
}

